* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-color: #1eff;
    text-align: center;
    padding: 40px;
}

.foot {
    text-align: center;
    margin-top: 10px;
    background-color: white;
}