* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.service-card {
    text-align: center;
    border-radius: 10px;
    border: 2px solid #1eff29;
    width: 300px;
}

.service {
    margin-top: 17px;
}

.card {
    margin-top: 10px;
    margin-bottom: 20px;
}