
*{
    box-sizing: border-box ;
}
.card{
    width: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
h2{
    color: black;
    font-weight: bold;
}
.card-header{
    padding: 10px;
    position: relative;
}
.badge{
    background-color: rgb(237, 200, 151);
    color: rgb(116, 98, 8);
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 5px 10px;
}
.card-main{
    padding: 10px;
}
.card-main p{
    color: grey ; 
}
.progress-bar {
  width: 100%;
  height: 14px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  width: 70%;       
  height: 100%;
  background: #2dff2d;
  border-radius: 10px;
}
.card-footer{
    padding: 10px;
}
.card-footer p{
    color: rgb(152, 149, 149);
}
