* {
    box-sizing: border-box;
}

.form {
    width: 410px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-header {
    padding: 10px;
}

.form-header h1 {
    color: rgba(10, 107, 70, 0.903);
    text-align: center;
    font-weight: bold;
}

.form-main {
    padding: 10px;
}

.form-main label {
    display: block;
    color: rgba(7, 90, 19, 0.888);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-bottom: 5px;

}

.form-main input,
select,
textarea {
    width: 100%;
    display: block;
    border: 1px solid rgb(65, 237, 182);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 7px;
}

.form-footer {
    padding: 10px;
}

.form-footer button {
    width: 100%;
    text-align: center;
    background-color: rgb(11, 195, 188);
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: none;
}